PORT=%api_port%
DB_USERNAME=%db_username%
DB_PASSWORD=%db_password%
DB_DATABASE_NAME=%db_name%
DB_HOST=%db_host%
DB_PORT=%db_port%

SECRET_JWT_KEY=%secret_jwt_key%

YOUTUBE_API_KEY=%youtube_api_key%
YOUTUBE_API_HOST=https://www.googleapis.com/youtube/v3/

IGDB_API_HOST=https://api.igdb.com/v4/
IGDB_API_CLIENT_ID=%igdb_client_id%
IGDB_API_CLIENT_SECRET=%igdb_api_key%

DEEPSEEK_API_KEY=%deepseek_api_key%
DEEPSEEK_API_HOST=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-v4-flash
